@import 'Colors.module.scss';

.productList {
	display: grid;
	min-width: 250px;
	max-width: 860px;
	width: 100%;

	grid-template-columns: repeat(auto-fill, 209px);
	justify-content: center;
	grid-gap: 10px 8px;
}

.productListItem {
	position: relative;
	background-color: $white;
	width: 209px;
	height: 212px;
	border: 1px solid #e4e4e4;
	box-sizing: border-box;
	box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
	border-radius: 4px;
}

.productPictureContainer {
	border-radius: 4px 4px 0px 0px;
	cursor: pointer;
	margin: 4px;
	width: 199;
	height: 147px;
	overflow: hidden;
	display: grid;
	justify-self: center;

	&:hover {
		opacity: 0.7;
	}
}

.productPicture {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.productTitle {
	font-size: 15px;
	color: $dark_text;
	max-width: 185px;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	margin: 2px 0 0 12px;
}

.productPrice {
	font-size: 18px;
	font-weight: 700;
	color: $dark_text;
	max-width: 100px;
	line-height: 26px;
	overflow: hidden;
	margin: 2px 0 0 12px;
}

.saveContainer {
	display: inline;
	cursor: pointer;
	position: absolute;
	right: 8px;
	bottom: 45px;
	background-color: $white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);

	.save {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.numOfProduct {
	display: flex;
	margin: 24px 0 48px 0;
	.changeNumBtn {
		font-size: 20px;
		color: #707070;
		font-weight: 300;
		line-height: 26px;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background-color: #e0e0e0;
	}

	.numOfItems {
		margin: 0px 10px;
		color: #000;
		font-size: 15px;
	}
}
