.listItem {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 141px 1fr 120px;
	grid-template-rows: 1fr;
	grid-template-areas: 'picture middle price';

	max-width: 559px;
	min-height: 160px;
	background: #ffffff;
	margin-bottom: 23px;

	border: 1px solid #eceef0;
	box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
	border-radius: 4px;

	.listItemPicture {
		width: 125px;
		height: 123px;
		border-radius: 3px;
		overflow: hidden;
		grid-area: 'picture';
	}

	.middlePart {
		width: 298px;
		height: 103px;
		display: flex;
		flex-direction: column;
		border-right: 1px solid #eceef0;
		grid-area: 'middle';

		.trashCan {
			margin: 0 20px;
			cursor: pointer;
		}
		.numOfProduct {
			margin: 0;
		}
		& > div {
			display: flex;
			margin-top: 10px;
		}

		.container {
			display: flex;
			margin-left: 21px;
			.items {
				font-size: 15px;
				line-height: 22px;

				color: #707070;
				margin-right: 20px;
			}

			.quantity {
				font-weight: 600;
				font-size: 15px;
				line-height: 22px;

				color: #373738;
			}
		}
	}

	.productTitle {
		font-size: 14px;
		line-height: 26px;
		color: #101010;
		width: 250px;
		height: 52px;
		overflow: hidden;
		margin-left: 20px;
	}

	.itemPrice {
		margin-left: 26px;
		width: 80px;
		overflow: hidden;
		font-size: 15px;
		line-height: 22px;
		color: #373738;
		display: flex;
		flex-direction: column;
		grid-area: 'price';

		p {
			font-weight: bold;
			display: block;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.5px;
			color: #373738;
			margin: 7px 0 0 0;
		}

		h3 {
			margin: 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 22px;

			color: #373738;
		}
	}
}

@media (max-width: 600px) {
	.listItem {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'middle middle'
			'picture price';
	}
	.middlePart {
		grid-column: 1 / span 2;
		grid-row: 2 / 3;
		border: none !important;
	}
}
