.productModal {
	position: fixed;
	max-width: 1003px;
	max-height: 697px;
	width: 90%;
	height: 90%;
	overflow-y: hidden;
	background-color: #fff;
	left: 50%;
	right: 50%;
	top: 50%;
	z-index: 3;
	position: relative;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-rows: 100px 1fr;
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.productModalContent {
	padding: 100px 80px;
	box-sizing: border-box;
	grid-gap: 70px 35px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 320px 100px;
}

.textInfo {
	height: 155px;
}

.cross {
	position: absolute;
	top: 35px;
	right: 35px;
	cursor: pointer;
}

.pictureContainer {
	display: grid;
	align-items: center;
	padding: 13px 10px;
	min-width: 300px;
	max-width: 401px;
	max-height: 296px;
	width: auto;
	height: auto;
	background: #ffffff;
	border: 1px solid #e4e4e4;
	box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
	border-radius: 4px;

	.picture {
		max-width: 401px;
		width: auto;
		height: auto;
		max-height: 296px;
		border-radius: 3px;
		overflow: hidden;
		display: grid;

		span {
			align-self: center;
			justify-self: center;
			img {
				height: auto;
				max-height: 296px;
			}
		}
	}
}

.title {
	font-size: 18px;
	letter-spacing: 0.5px;
	max-width: 350px;
	max-height: 50px;
	overflow: hidden;
	font-weight: bold;
	color: #373738;
}

.description {
	font-size: 15px;
	color: #707070;
	max-width: 350px;
	max-height: 88px;
	overflow: hidden;
}

.productOrder {
	height: 177px;
	display: flex;
	flex-direction: column;

	.priceContainer {
		display: flex;
		width: 250px;
		justify-content: space-between;

		.priceTitle {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
			line-height: 26px;
			color: #373738;
		}

		.price {
			font-weight: bold;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.5px;
			color: #373738;
		}
	}
}

.numOfProduct {
	display: flex;
	margin: 24px 0 48px 0;
	.changeNumBtn {
		font-size: 20px;
		color: #707070;
		font-weight: 300;
		line-height: 26px;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background-color: #e0e0e0;
	}

	.numOfItems {
		margin: 0px 10px;
		color: #000;
		font-size: 15px;
	}
}

.totalPrice {
	.totalPriceContainer {
		display: flex;
		margin-bottom: 1px;
	}

	.title {
		font-size: 15px;
		font-weight: normal;
		color: #707070;
		width: 42px;
		margin-right: 32px;
	}

	.totalPriceValue {
		color: #373738;
		font-size: 18px;
		font-weight: bold;
		line-height: 26px;
	}
}

.productBtns {
	display: grid;
	grid-gap: 35px;
	grid-column: 1 / 3;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-template-rows: 1fr;
	.buyNow {
		text-transform: uppercase;
	}

	.addToCart {
		font-weight: 500;
		text-transform: uppercase;
	}

	.tick {
		margin-left: 14px;
	}

	.saveBtn {
		text-transform: uppercase;
	}
}

@media (max-height: 600px) {
	.productModal {
		overflow-y: scroll;
	}
}

@media (max-width: 1000px) {
	.productModal {
		overflow-y: scroll;
	}

	.productModalContent {
		padding: 50px 0;

		grid-gap: 35px;
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: 320px 320px 200px;
	}

	.productBtns {
		grid-column: 1 / 2;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 36px);
		grid-gap: 10px;
	}

	.cross {
		top: 10px;
		right: 10px;
	}
}
