.favoritesPageContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.favoritesPage {
	padding-top: 49px;
	width: 904px;
	height: 936px;
	background-color: #fff;
	align-self: center;
	box-sizing: border-box;
}

.accountFavorites {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 58px;
}
