@import 'Colors.module.scss';

.header {
	width: 100%;
	min-height: 76px;

	padding: 0 15%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	background-color: $dark_blue;
}

.savedIcon {
	margin-right: 25px;
	cursor: pointer;
}

.cartIcon {
	margin-right: 32px;
	cursor: pointer;
}

.cartContainer {
	position: relative;

	p {
		display: inline-block;
		position: absolute;
		top: -8px;
		left: 11px;
		width: 13px;
		height: 13px;
		background: $orange_main;
		border: 1px solid $dark_blue;
		border-radius: 50%;
		cursor: pointer;

		font-weight: 500;
		font-size: 9px;
		line-height: 13px;
		letter-spacing: 0.4px;
		text-align: center;
		color: $dark_blue;
	}
}

.logo {
	cursor: pointer;
}
