.header {
	width: calc(100% - 320px);
	height: 76px;

	padding: 0 160px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #110f21;
}

.savedIcon {
	margin-right: 25px;
	cursor: pointer;
}

.cartIcon {
	margin-right: 32px;
	cursor: pointer;
}

.cartContainer {
	position: relative;

	p {
		display: inline-block;
		position: absolute;
		top: -18px;
		left: 11px;
		width: 13px;
		height: 13px;
		background: #fd7114;
		border: 1px solid #110f21;
		border-radius: 50%;
		cursor: pointer;

		font-weight: 500;
		font-size: 9px;
		line-height: 13px;
		letter-spacing: 0.4px;
		text-align: center;
		color: #110f21;
	}
}
