.cartPageContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.cartPage {
	padding-top: 49px;
	min-width: 320px;
	max-width: 984px;
	min-height: 964px;
	background-color: #fff;
	align-self: center;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 684px 300px;
}

.myCart {
	font-size: 25px;
	line-height: 37px;
	letter-spacing: 0.4px;
	font-weight: normal;
	color: #000000;
	margin: 29px 0 32px 39px;
}

.cartList {
	margin-left: 37px;

	border-right: 1px solid #dedee0;
	min-height: 500px;
	position: relative;
}

.cartListItem {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 141px 1fr 120px;
	grid-template-rows: 1fr;
	grid-template-areas: 'picture middle price';

	width: 559px;
	min-height: 160px;
	background: #ffffff;
	margin-bottom: 23px;

	border: 1px solid #eceef0;
	box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
	border-radius: 4px;

	.cartProductPicture {
		width: 125px;
		height: 123px;
		border-radius: 3px;
		overflow: hidden;
		grid-area: 'picture';
	}

	.middlePart {
		width: 298px;
		height: 103px;
		display: flex;
		flex-direction: column;
		border-right: 1px solid #eceef0;
		grid-area: 'middle';

		.trashCan {
			margin: 0 20px;
			cursor: pointer;
		}
		.numOfProduct {
			margin: 0;
		}
		& > div {
			display: flex;
			margin-top: 10px;
		}
	}

	.productTitle {
		font-size: 14px;
		line-height: 26px;
		color: #101010;
		width: 250px;
		height: 52px;
		overflow: hidden;
		margin-left: 20px;
	}

	.itemPrice {
		margin-left: 26px;
		width: 80px;
		overflow: hidden;
		font-size: 15px;
		line-height: 22px;
		color: #373738;
		display: flex;
		flex-direction: column;
		grid-area: 'price';

		p {
			font-weight: bold;
			display: block;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.5px;
			color: #373738;
			margin: 7px 0 0 0;
		}

		h3 {
			margin: 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 22px;

			color: #373738;
		}
	}
}

.noItems {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin-top: 100px;
}

@media (max-width: 1000px) {
	.cartPage {
		min-height: 200px;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 700px;
		width: 800px;
	}

	.cartList {
		min-height: 200px;
		margin: 0 5px;
		border: none;
		max-width: 100%;
		width: 95%;
		display: grid;
		justify-items: center;
	}
}

@media (max-width: 700px) {
	.cartPageContainer {
		margin-top: -22px;
	}
}

@media (max-width: 600px) {
	.cartListItem {
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'middle middle'
			'picture price';
	}
	.middlePart {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		border: none !important;
	}
}
