.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productListContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 850px;
}

.loadMoreBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #148dfd;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.4px;
	border-radius: 4px;
	width: 150px;
	height: 36px;
	margin-top: 47px;
	margin-bottom: 83px;
}

.notFound {
	margin-top: 191.5px;
	h2 {
		font-weight: bold;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 0.5px;

		color: #101010;
	}

	p {
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		width: 347px;
		margin-top: 10px;

		color: #373738;
	}
}

.noItemsInCategory {
	margin-top: 200px;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.5px;

	color: #101010;
}
