@import 'Colors.module.scss';

.editProfile {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	margin-top: 55px;
}

.editProfileForm {
	width: 100%;
	max-width: 377px;
}

.editProfileTitle {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
	max-width: 489px;
	width: 100%;
	margin-bottom: 30px;
	color: #000000;
}

.input {
	color: $dark_text;
	font-size: 16px;
	background: $white;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	max-width: 377px;
	width: 100%;
	height: 40px;
	padding-left: 13px;
}

.group {
	position: relative;
	margin-bottom: 20px;

	p {
		display: inline-block;
		font-size: 12px;
		background-color: $white;
		letter-spacing: 0.15px;
		color: $dark;
		padding: 0 4px;
		position: absolute;
		left: 13px;
		top: -8px;
	}
}

.submitBtn {
	background: $orange_main;
	border-radius: 5px;
	max-width: 377px;
	width: 100%;
	height: 36px;

	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.4px;
	color: $white;

	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}
}

.changePassword {
	margin-bottom: 42px;
}

.countryInput {
	max-width: 376px;
	width: 100%;
	height: 40px;

	svg {
		display: none;
	}
}
