.editProfilePageContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.editProfilePage {
	padding-top: 49px;
	width: 904px;
	min-height: 1244px;
	background-color: #fff;
	align-self: center;
	box-sizing: border-box;
}
