.ordersHistoryPageContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.ordersHistoryPage {
	padding-top: 49px;
	width: 904px;
	height: 936px;
	background-color: #fff;
	align-self: center;
	box-sizing: border-box;
}
