.saveProductModal {
	display: block;
	position: fixed;
	max-width: 425px;
	width: 95%;
	height: 397px;
	background-color: #fff;
	left: 50%;
	right: 50%;
	top: 40%;
	z-index: 3;
	position: relative;
	transform: translate(-50%, -50%);
	padding-top: 80px;
	box-sizing: border-box;
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.cross {
	position: absolute;
	top: 32px;
	right: 32px;
	cursor: pointer;
}

.modalContent {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	width: 100%;
}

.title {
	height: 70px;
	width: 216px;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 0.4px;
	color: #373738;
	margin-bottom: 32px;
}

.buttonsGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 158px;
}
