@import 'Colors.module.scss';

.register {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	background-color: $white;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border-color: rgb(255, 255, 255);
}

.login {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	background-color: $white;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border-color: rgb(255, 255, 255);
}

.authTitle {
	text-transform: capitalize;
	font-size: 22px;
	margin-top: 45px;
	margin-bottom: 40px;
	cursor: default;
	width: 100%;
	max-width: 425px;
	text-align: center;
}

.authForm {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	width: 100%;
	max-width: 362px;

	label {
		width: 100%;
	}
}

.inputContainer {
	padding-bottom: 20px;
	max-width: 362px;
	width: 100%;
}

.passwordContainer {
	height: 83px;
}

.submitBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	max-width: 362px;
	height: 36px;
	font-weight: 500;
	font-size: 14px;
	color: $white;
	background-color: $orange_main;
	box-shadow: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.changeModalCondition {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 425px;
	height: 76px;
	margin-top: 15px;
	border-radius: 4px;

	background-color: $white;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

	p {
		color: $dark_text;
		font-size: 14px;
	}

	button {
		font-size: 14px;
		color: $orange_main;
		margin-left: 5px;
		cursor: pointer;
	}

	button:hover {
		text-decoration: underline;
	}
}

.emailLabel {
	background-color: $white;
	font-size: 12px;
	display: block;
	width: 47px;
	color: $dark;
	display: block;
	z-index: 2;
	margin-left: 13px;
	margin-top: -50px;
}
