$orange_main: #fd7114;
$blue_btn: #148dfd;
$dark_blue: #110f21;
$dark_text: #373738;
$error: #f44336;
$error_message: #df9ca1;
$success_message: #afdbbe;
$gray: #f0f0f0;
$white: #fff;
$dark: #707070;
