.accountPageContainer {
	width: auto;
	display: grid;
	justify-content: center;
}

.accountPage {
	width: 90vw;
	max-width: 904px;
	min-height: calc(100vh - 152px);
	background-color: #fff;
	align-self: center;
	padding: 49px 0 20px 0;
	box-sizing: border-box;
}

.accountMenu {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.userInfo {
	height: 141px;
	display: grid;
	grid-template-rows: 88px 32px;
	align-content: space-between;

	.userAvatar {
		display: inline-block;

		background-color: #dedee0;
		border-radius: 50%;

		color: #110f21;
		line-height: 88px;
		height: 88px;
		width: 88px;
		margin-right: 11px;
		font-size: 26px;
		font-weight: 400;
		text-transform: capitalize;
		text-align: center;
	}

	.userFullName {
		line-height: 32px;
		color: #101010;
		font-size: 22px;
		font-weight: normal;
	}
}

.menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 22px;

	.accountBtn {
		width: 163px;
		height: 74px;
		border: 1.3px solid #dedee0;

		text-align: center;
		font-size: 15px;
		line-height: 74px;
		cursor: pointer;
		color: #373738;
	}

	.accountBtnActivated {
		position: relative;
		width: 163px;
		height: 74px;
		background-color: #fd7114;
		border: 1.3px solid #dedee0;

		text-align: center;
		font-size: 15px;
		line-height: 74px;
		cursor: default;
		color: #fff;

		&::after {
			content: '';
			position: absolute;
			left: 75px;
			bottom: -20px;
			border: 10px solid transparent;
			border-top: 10px solid #fd7114;
		}
	}
}

@media (max-width: 700px) {
	.accountPageContainer {
		margin-top: -23px;
	}
}

@media (max-width: 550px) {
	.accountPage {
		padding: 49px 0 20px 0;
	}

	.menu {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
}
