.input {
	width: 362px;
	height: 40px;
	font-size: 16px;
	padding-left: 12px;
	color: #707070;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.error {
	border: 1px solid #f44336 !important;
	outline: none;
}

.errorLabel {
	color: #f44336 !important;
}

.errorMessage {
	margin-top: 3px;
	color: #f44336;
	font-size: 12px;
	letter-spacing: 0.4 px;
}

.input::-ms-reveal,
.input::-ms-clear {
	display: none;
}

.passwordField::-ms-reveal,
.passwordField::-ms-clear {
	display: none;
}

.passwordFieldContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.passwordField {
	width: 280px;
	height: 38px;
	font-size: 16px;
	color: #707070;
	border: 0;
	outline: none;
}

.passwordLabel {
	font-size: 12px;
	line-height: 20px;
	color: #707070;
	width: 280px;
	align-self: flex-start;
}

.countryInputContainer {
	position: relative;
	height: 40px;
}

.countryInput {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	border: 1.08px solid #e4e4e4;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);

	svg {
		margin-right: 14px;
		cursor: pointer;
	}

	div {
		margin-left: 13px;
		cursor: default;
	}
}

.dropDown {
	position: absolute;
	top: 38px;
	padding: 1px 20px 20px 20px;
	opacity: 1;
	background: #ffffff;
	height: 340px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 3;

	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
	border-top: 2px solid #dedee0;
	box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);

	&::-webkit-scrollbar {
		width: 0;
	}
}

.country {
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.4px;
	margin: 2px 0;
	color: #373738;
	cursor: pointer;
}

.disabled {
	cursor: default;
	opacity: 0.5;

	svg {
		margin-right: 14px;
		cursor: default;
	}
}

.label {
	display: inline-block;
	font-size: 12px;
	background-color: #fff;
	letter-spacing: 0.15px;
	color: #707070;
	padding: 0 4px;
	position: absolute;
	left: 13px;
	top: -18px;
}
